/* .ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}


.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

:root {
  --font-family: "Ubuntu", sans-serif;
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 1080px;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
body::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform-origin: center;
  min-height: 100vh;

  transform: translateZ(-1px) scale();
}
.container {
  max-width: 1720px;
  margin: 0 auto;
}


  .nav {
    top: 30px;
  }

  .logo {
    width: 200px;
    height: 63px;
  }


  .nav_title {
    padding-top: 50px;
    display: flex;
    align-items: flex-end; /* Выровнять элементы по нижнему краю */
    justify-content: space-between;
    font-weight: 1000;
    text-decoration: none;
}

.links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex; /* Выстраиваем элементы списка в строку */
    border: solid;
    border-width: 1px 1px 0 0;
    align-items: flex-end; /* Выровнять элементы списка по нижнему краю */

}

.links li {
  margin: 0;
  padding: 0;
}

.link {
    text-decoration: none;
    color: white;
    padding: 0 23.5px; /* Устанавливаем горизонтальные внутренние отступы */
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: flex-end; /* Выровнять текст по нижнему краю */
    padding-right: 23px;
    padding-bottom: 17px;
   
}
.link4 {
    text-decoration: none;
    color: white;
    padding: 0 23.5px; /* Устанавливаем горизонтальные внутренние отступы */
    font-size: 23.5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    align-items: flex-end; /* Выровнять текст по нижнему краю */
    padding-right: 8px;
    padding-bottom: 17px;
   
}


.logo {
    align-self: flex-end; /* Выровнять логотип по нижнему краю */
    margin-right: auto; /* Выровнять логотип слева */
}


.logo {
    align-self: flex-end; /* Выровнять логотип по нижнему краю */
    margin-right: auto; /* Выровнять логотип слева */
}

.header {
  color: white;
  margin-top: 152px;
}



.container_header {
  padding-left: 100px;
  max-width: 800px;
  max-height: 250px;
 
  align-items: center; /* Центрируем содержимое по вертикали */
}


.text_h3 {
  
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
font-weight: 300;
font-size: 36px;
color: #fff;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.text_h1 {
  min-height: 160px;
  text-align: left;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 128px;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}


.main {
  color: white;
  padding-left: 100px;
  max-width: 790px;
  max-height: 315;
  padding-top: 25px;
  
 }
 
 .container_main {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  opacity: 0.65;
 }

 .btn {
  padding-top: 57px;
 }

 .button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #123994;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.2s;
 }
 .button__line {
  position: absolute;
  display: block;
 }
 .button__line--top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#123994);
 }
 .button:hover .button__line--top {
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
 }
 .button__line--bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#123994);
 }
 .button:hover .button__line--bottom {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
 }
 .button__line--left {
  bottom: -100%;
  left: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg,transparent,#123994);
 }
 .button:hover .button__line--left {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
 }
 .button__line--right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#123994);
 }
 .button:hover .button__line--right {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
 }
 .button:hover {
  box-shadow: 0 0 10px #123994, 0 0 40px #123994, 0 0 80px #123994;
  background-color: #123994;
  color: #000000;
  transition-delay: 1s;
}

/* .popap {
  height: 1080px;
  width: 540px;
  color: #0A1422;
} */
.popap {

  padding-top: 708px;
  padding-right: 1750px;
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
  top: -10px;
}

.content_popap {
  display: flex;
  padding-left: 1680px;
  
  
   /* Вертикальное выравнивание элементов внутри контейнера */
}

.img_plus {
  display: flex; /* Используем flex для размещения картинок рядом */
  margin-right: 3px; /* Отступ между картинками и текстом */
}

.popap_h3 {
  display: inline;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  text-align: right;
  color: #fff;
  margin: 0; /* Обнуление margin */
  padding-left: 10px; /* Если нужен отступ слева */
}

#plus, #circle {
  position: relative;

}

#plus {
  top: 0px; /* Корректировка позиции, если необходимо */
  left: 21px;
}

#circle {
  /* Если нужны специфические стили для #circle, можно добавить здесь */
  top: 7.5px;
  left: -3.5px;
}

.container_modal {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  
  /* width: 540px;
  height: 1080px;
 
  background-color: #0A1422;
  
  position: fixed;
  right: 0px;
  
  width:540px;
  height:1080px;  
  display: block;
  z-index:99999999;         */
}
.modal {
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  display: flex;
  justify-content: right;
 
  transition: opacity 1s, visibility 1s;
}
.modal__background {
  height: 1080px;
  width: 1920px;
  position: fixed;
  display: flex;
 backdrop-filter: blur(2px);
 visibility: hidden;
 opacity: 0;
 transition: opacity 1s, visibility 1s;
}
.modal__background.open {
  visibility: visible;
  opacity: 1;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}


.modal__box {
  width: 540px;
  height: 910px;
  z-index: 1;
  background-color: rgba(10, 20, 34, 0.9);
 box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
 border-radius: 20px;
}
#proton_scheme {
  padding-left: 170px;
  padding-top: 10px;
  height: 70%;
}

#h2__text {
font-family: var(--font-family);
font-weight: 300;
font-size: 48px;
text-align: center;
color: #fff;
}
#ul__text {
  font-family: var(--font-family);
font-weight: 300;
font-size: 24px;
color: #fff;
}

#openModalBtn {
  border: none;
  background: transparent;
  
  padding: 2px 1px;
}
